.NavBar-Wrapper {
    background-color:rgb(109, 27, 27);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: #fff;
  }
  
  .NavBar-Title {
    font-weight: lighter;
    padding-left: 20rem;
  }
  
  .NavBar-Link {
    padding: .8rem;
    color: #fff;
    transition: .7s color ease;
  }
  
  .NavBar-Link:hover {
    color: #fff;
  }